
.message-section{
  background-color: rgb(0, 140, 255);
  font-size: 24px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.to-red{
  background-color: red;
  font-size: 24px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.to-green{
  background-color: green;
  font-size: 24px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Login section  */

.left-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  /* background-color: antiquewhite; */
}
.title{
  color: rgb(0, 64, 255);

}

/* this is the container for the login menu */
#container-login{
  position: absolute;
  z-index: 10000;
  margin-left: -250px;
  margin-top: 50px;
  width: 450px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
 
}
.open-menu{
  max-height: 655px!important;
}
.close-menu{
  max-height: 0px;
}
.close-icon{
 
  border-radius: 50px;
  transition: background 0.25s ease-in-out;
  cursor: pointer;
}
.close-icon:hover{
  background-color: rgb(234, 234, 234);
}

.form-control{
  height: 50px;
  row-gap: 50px!important;
  column-gap: 50px!important;
  gap: 50px!important;
 
  
}
#login-btn{
  background-color: #087fff;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.3rem;
  width: 150px;
  font-family: Arial, Helvetica, sans-serif;
  
}

#login-btn:hover{
  background-color: rgb(0, 111, 196)
}


.btn{
  background-color: rgb(0, 176, 0);
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px!important;
}
.btn:hover{
  background-color: rgb(0, 141, 0);
}




.navbar-brand {
    font-size: 1.5rem !important; /* Increase font size of the app name */
  }
  .nav-link {
    font-size: 1.25rem; /* Increase font size of the links */
    margin-right: 10px !important;
   
  }
  html, body {
    height: 100%;
    margin: 0;
  }
  .carousel-item {
    height: 75vh; /* 60% of the viewport height */
    margin-bottom: 10px;
  }
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  .carousel-caption {
    z-index: 10;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 5;
  }


  .discover-btn {
    
    background: linear-gradient(45deg, #ff6f61, #d9a7c7);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
    transition:all ease-in-out 0.25s;
}
.discover-btn:hover{
   
    transform: scale(1.1); 
   
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



/*  about section  mid-section stuff */


.about-section {
  display: flex;
  flex-direction: row;
  align-items: top;
  margin-top: 100px;
 
  background-color: #f0f0f0;
}

.left-about-section, .right-about-section {
  flex: 1;
  
}

.about-section-img {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .about-section {
      flex-direction: column;
      align-items: center;
  }

  .right-about-section {
      text-align: center;
  }
  #container-login{
    margin-left: 0px;
    width: 400px;
  }
}